body{
  background: #fafafa;
  color: #084177;
}
.about{
  justify-content: center;
  text-align: center;
  padding: 5% 7%;
}
.about h2{
    font-family: "Comforter Brush";
    font-size: 2rem;
}
.about-des{
  padding-top: 2%;
}
.about-des h3{
  font-size: 2.5rem;
}
.about-des p{
  color: #111;
  font-size: 1.5rem;
}
.about-image{
  border-radius: 25%;
  width: 50%;
}
.gallery{
  justify-content: center;
  text-align: center;
}
.gallery img{
  width:75%;
  height: 70%;
  border: 5px solid #111;
  border-radius: 10%;
}
.gallery img:hover{
  transform: scale(1.2);
}
.footer {
	text-align: center;
  color: gold;
	background-color: #111;
}
.footer p{
  color: #fafafa;
}
